#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #b5eed3;
    border: solid 1px #020202;
}

#panel {
    padding: 50px;
    display: none;
}

li {

    color: #000;
    font-size: 20px;
    list-style-type: none;
    width: 20%;
    margin: 0px auto;
    border-radius: 3px;
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 10px;
}

.ml2 {
    font-weight: 900;
    font-size: 3.5em;
}

.bg1 {
    background-color: #21bf9f;
}
.bg2 {
    background-color: #26bf21;
}
.bg3 {
    background-color: #6321bf;
}
.bg4 {
    background-color: #bf9221;
}